.forms{
    margin-left: 30%;
    margin-right: 42%;
    margin-top: 7%;}
    
    .form-label{
        font-weight: bold;
        font-size: large;
    }
    .btn{
        padding-left: 42%;
        padding-right: 42%;
    }
    .col{
        text-decoration: underline;
        cursor: pointer;
        text-decoration-color: black;
        color: black;
        font-size:xx-large;
    }
    