.forms{
margin-left: 35%;
margin-right: 35%;
margin-top: 10%;
}

.form-label{
    font-weight: bold;
    font-size: large;
}
.btn-primary.btn{
    padding-left: 42%;
    padding-right: 42%;
}
.logo{
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 125px;
    width: 125px;
    /* background: url(TRbanner.gif) no-repeat; */
    text-indent: -999em;
    text-decoration: none;
}
